* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html,body{
width: 100%;
height: 100%;
}
#main{
    width: 100%;
    height: 100%;
    background-color:#F8F4F0;
    position: relative;
    padding: 30px 25px 25px 65px ;
}
#nav{
    width: 100%;
    height:50px ;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#logo{
    margin-bottom: 15px;
}
#nav #logo h1{
    font-family: voyage;
    font-size: 35px;
}
#icons{
    display: flex;
    align-items: center;
    gap: 33px;
    color: #1D1B19;
    font-size: 24px;
}
#icons i{
    font-weight: 200;
}
#menubar{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 5px;
}
#l1{
    width: 20px;
    height: 1.5px;
    background-color: #1D1B19;

}
#l2{
    width: 20px;
    height: 1.5px;
    background-color: #1D1B19;

}
#links{
    display: flex;
    gap: 23px;
    position: absolute;
    left: 27%;
    
}
#links a{
    text-decoration: none;
    color: #20201f;
    font-family: montserrat;
    font-size: 14px;
    font-weight: 500;
}
#links a:nth-child(2){
    border-bottom: 1px solid #1D1B19 ;
}
#cart-product{
    width: 15px;
    height: 15px;
    background-color: #5F654E;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: montserrat;
    color: #F8F4F0 ;
    font-weight: 50;
    font-size: 1vw;
    right: 5.2%;
    top: 6%;
    
}
#left{
    width: 400px ;
    height: 78vh;
    /* background-color: red; */
    position: absolute;
    top: 15%;


}
#mid{
     width: 64vh ;
    height: 64vh;
    /* background-color: red; */
    position: absolute;
    top: 15%;
    left: 36%;
    border-radius: 15px;
    background-image: url(https://images.unsplash.com/photo-1484186139897-d5fc6b908812?q=80&w=1160&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
}
#midbar{
    width: 60vh;
    /* height: 5vw; */
   
    position: absolute;
     top: 17%;
    left: 37%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#price{
    width: 4vw;
    height: 2vw;
    border-radius: 14px;
    background-color: #F8F4F0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.6vw;
    font-family: gilroy;
}
#price h2{
    font-weight: 550;
}
#rating{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10vw;
    height: 2vw;
    background-color: #F8F4F0;
    border-radius: 15px;
    padding: 15px;
    

}
#rating h2{
    font-family: montserrat;
    font-size: 0.8vw;
}
.star{
    color: #5F654E;
    font-size: 0.7vw;
    display: flex;
    gap: 3px;
}
#collections{
    width: 18vw;
    height: 2vw;
    /* background-color: blue; */
    display: flex;
    gap: 10px;
   color: #5F654E;
   align-items: center;
}
#collections h2{
    font-family: montserrat;
    font-size: 0.8vw;
    font-weight: 500;
    color: #5F654E;
    letter-spacing: 2px;

}
#collections i{
    font-size: 1.6vw;
}
.hero{
    font-size: 6.2vw;
    margin-top: 1.2vw;
    line-height: 5vw;
    font-weight: 500;
    color: #20201f;
    
}
#w-line{
    width: 3.1vw;
    height: 2px;
    background-color: #5F654E;
    margin-top: 1vw;
    margin-left: 5px;
}
.craft{
    width: 20vw;
    margin-left: 4px;
    margin-top: 1vw;
    font-family: montserrat;
    font-size: 14px;
    font-weight: 400;
    color: #22241c;
}
#col{
    width: 12.7vw;
    margin-top: 1.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
#pellate{
display: flex;
gap: 16px;
}
.pel{
    width: 25px;
    height: 25px;
    /* background-color: yellow; */
    border-radius: 50%;
}
#col h1{
    font-family: montserrat;
    font-size: 1.2vw;
    color: #22241c;
    font-weight: 650;
}
.f{
    background-color: #5F654E;
}
.s{
    background-color: #E4DCD3;
}
.t{
    background-color: #E1A8A7;
}
#det{
    display: flex;
    gap: 11px;
    align-items: center;
    margin-top: 1.5vw;
}
#det h1{
    font-family: montserrat;
    font-size: 1.3vw;
    color:#20201f;

}
#det-line{
    width: 1.3vw;
    height: 1.5px;
    background-color: #5F654E;
}
.lorem{
    width: 17vw;
    font-family: montserrat;
    font-size: 11px;
    margin-top: 1vw;
}

#b-icon{
    width: 26vw;
    height: 8vw;
   /* background-color: red; */
    margin-top: 1.7vw;
    position: relative;
    display: flex;
    margin-left: -9.8%;
}
.ic{
    width: 33%;
    
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.two{
    width: 33%;
    
}
.ic h2{
    font-family: montserrat;
    font-size: 0.8vw;
    color: #22241c;
    text-align: center;
    font-weight: 550;
}
.b-ic{
    width: 2.5vw;
    height: 2.5vw;
    background-color: #E6E4D7;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sone{
    width: 1.4vw;
    height: 1.4vw;
}
#addtobag{
    width: 8vw;
    height: 8vw;
    background-color: #5F654E;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 23%;
    left: 63.3%;
}
#addtobag h2{

font-family: montserrat;
font-size: 0.9vw;
color: #F8F4F0;
font-weight: 500;
gap: 10px;
}
#addtobag i{
    color: #F8F4F0;
    font-weight: 100;

}

#midfoot{
    width: 68vh;
    height: 4vw;
    background-color:#F1EDE7;
    border-radius: 9px;
    position: absolute;
    left: 35%;
    top: 83%;
    box-shadow:0px 0px 4px #c3c2c1 ;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.midicon{
    width: 33%;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.midicon i{
    color: #5F654E;
    font-size: 1.8vw;
    font-weight: 400;
}
.midicon h2{
      font-family: montserrat;
    font-size: 0.76vw;
    color: #22241c;
    text-align: center;
    font-weight: 550;
}
.ek{
    border-right: 1px solid #939b7c;
}
.do{
    border-right: 1px solid #939b7c;
}
.one{
    border-right: 1px solid #939b7c;
}
.two{
     border-right: 1px solid #939b7c ;
}

#right{
    width: 9.5vw;
    height: 63vh;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 10PX;
    position: absolute;
    right: 14%;
    top: 16%;
    border-radius: 14px;
}
.r1{
    width: 100%;
    height: 25%;
    /* background-color: yellow; */
    border-radius: 14px;
}
.a{
    background-image: url(https://images.unsplash.com/photo-1484186139897-d5fc6b908812?q=80&w=1160&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    border: 2px solid #22241f;
}
.b{
    background-image: url(https://images.unsplash.com/photo-1606259458027-54d2a728b6ab?q=80&w=1035&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    box-shadow: 1px 1px 4px #9f9f9f ;
}
.c{
    background-image: url(https://images.unsplash.com/photo-1603400522537-35e25a14bc1e?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);

    background-position: center;
    background-size: cover;
     box-shadow: 1px 1px 4px #9f9f9f ;
}
.d{
    background-image: url(https://images.unsplash.com/photo-1616431101491-554c0932ea40?q=80&w=1035&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
     box-shadow: 1px 1px 4px #9f9f9f ;
}
#tline{
    width: 4vw;
    height: 1.5px;
    background-color: #5F654E;
    margin-top: 5.2px;
}
#tilt h1{
    font-family: montserrat;
    font-size: 2vw;
    font-weight: 500;
    white-space: nowrap;
}
#tilt{
    position: absolute;
    
   color: #22241f;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    top: 75%;
    transform-origin: 0% 50% ;
    rotate: -90deg;
    left: 33%;
}